on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to test this action
    steps:
      - uses: actions/checkout@v3
      - id: foo
        uses: hidracloud/hidra-action@main
        with:
          hidra-files: "samples/*.yml"
